.information{
  width: 100%;
  height: 100%;
  padding-top:60px;
  text-align: center;
  .my_pic{
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    animation: bounceIn 2s ease ;
    -webkit-animation: bounceIn 2s ease ;
    img{
      width: 200px;
      height: 200px;
    }
  }
  .my_pic:hover,.my_pic:focus{
    box-shadow: 0 0 20px #1296db;
    -webkit-box-shadow: 0 0 20px #1296db;
    -o-box-shadow: 0 0 20px #1296db;
    -moz-box-shadow: 0 0 20px #1296db;
    -ms-box-shadow: 0 0 20px #1296db;
  }
  .dabiao{
    animation: fadeInLeftBig 2s ease ;
    -webkit-animation: fadeInLeftBig 2s ease ;
    .imgCol{
      margin: 10px auto;
      text-align: center;
      .img {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        background-color: #1296db;
        border-radius: 50%;
        padding: 10px;
        img {
          width: 100%;
        }
      }
      .text{
        margin: 0 auto;
        h5 {
          font-size: 16px;
          color: #1296db;
          margin-top: 15px;
        }
      }
    }
  }
  p{
    color: #fff;
    display: inline-block;
    max-width: 700px;
    padding: 15px auto 0;
    text-indent: 2.4rem;
    line-height: 30px;
    text-align: justify;
    font-weight: lighter;
    animation: fadeInUpBig 2s ease ;
    -webkit-animation: fadeInUpBig 2s ease ;
  }
}
