.my-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  .cardetail{
    width: 100%;
    height: 100%;
    .circleLight {
      top: 0;
      left: 0;
      opacity: 0;
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      border-radius: 10px;
      background: -webkit-radial-gradient(circle at 80px 40px, #ffffff, rgba(0, 0, 0, 0));
      background: radial-gradient(circle at 80px 40px, #ffffff, rgba(0, 0, 0, 0));
    }
    .reveal{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      -webkit-transition: box-shadow 0.5s;
      transition: box-shadow 0.5s;
      overflow: hidden;
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      &:hover,&:focus{
        .circleLight{
          opacity: 0.4;
          background: radial-gradient(circle at 0px 0px, rgb(255, 255, 255), transparent);
        }
        .facade{
          box-shadow: 0 0 50px #333;
          &:hover{
            box-shadow: 0 0 70px #111;
            transform: scale(1.03) translate(-2px,-3px) rotateX(-3deg) rotateY(2deg) ;
          }
        }
      }
      .facade{
        position: absolute;
        text-align: center;
        z-index: 100;
        color: #000;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-position: center;
        background-attachment: fixed;
        h2{
          text-align: center;
          font-family: "myFirstFont", "微软雅黑", "宋体";
          white-space: nowrap;
          font-size: 70px;
          color: #000;
          user-select: none;
        }
        strong {
          font-size: 25px;
          color: #000;
          user-select: none;
        }
        p {
          font-family: "微软雅黑";
          font-size: 20px;
          margin-top: 8px;
          color: #000;
          letter-spacing: 2px;
          user-select: none;
        }
        p.my-Email {
          color: #7d2704;
        }
      }
    }
    .next-page {
      position: absolute;
      margin-left: -35px;
      left: 50%;
      bottom: 50px;
      border: 2px solid rgba(255,255,255,.2);
      width: 70px;
      height: 70px;
      border-radius: 50%;
      z-index: 100;
      animation: fadeInUp 2s ease ;
      -webkit-animation: fadeInUp 2s ease ;
      line-height: 80px;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      background: rgba(0,0,0,.2);
      transition: 1s all ease;
      -webkit-transition: 1s all ease;
      color: yellowgreen;
      animation: fadeInUp 2s ease ;
      -webkit-animation: fadeInUp 2s ease ;
      &:hover{
        background: rgba(51,51,51,1);
      }
      span {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("/images/arrowdown.png");
        animation: nextPage 2s linear infinite;
        -webkit-animation: nextPage 2s linear infinite;
      }
    }
  }
}
@media (max-width: 767px) {
  .my-card .cardetail{
    text-align: center;
    height: 100vh;
    padding: 65px 20px 50px;
    .reveal{
      .facade{
        width: 100%;
        height: 100%;
        h2{
          font-size: 40px;
          color: #FFD200;
        }
        strong {
          font-size: 22px;
          color: #007bff;
        }
      }
    }
  }
}
